.container {
  display: flex;
  height: 100px;
  align-items: flex-start;
  /* flex-start
     center
     flex-end
     stretch (기본값) */
}
.item {
  background: #2e74b5;
  color: #fff;
  padding: 10px 18px;
  font-weight: 700;
}
.tall { height: 60px; }